
@font-face {
  font-family: 'Vani';
  src: url('Vani.eot?#iefix') format('embedded-opentype'),  url('Vani.woff') format('woff'), url('Vani.ttf')  format('truetype'), url('Vani.svg#Vani') format('svg');
  font-weight: normal;
  font-style: normal;
}
